
body {
    
    background-color: rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    color: rgb(189, 157, 42);
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(/images/dog-3277417_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    max-width: 1300px;
    min-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 700px;
    
}
.sub-container {
    width: 50%;
    display: flex;
    flex-direction: column;


}
h1 {
    width: 33%;
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: -20px;
    padding-right: 3vw
}

h2 {
    font-size: 8rem;
   /*  margin-top: 20; */
    margin-bottom: 30px;
    margin-right: 220px;
}
.buttons {
    display: flex;
    padding-right: 3rem;
    gap: 1rem;
    margin-top: 4rem;
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}
#save-el {
    margin-right: 3rem;
    font-size: 1.5rem;
}
#increment-btn {
    background: rgb(10, 139, 164);
}

#save-btn {
    background: black;
    border: 2px solid rgb(10, 139, 164) ;
    color: rgb(10, 139, 164);
}